<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Procurement Multi Change</h2>
            <h3 class="oe_slogan">Allows multi cancel, confirm and run of
                Procurements.</h3>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 oe_centered oe_muted">
            More information about Odoo Services of
            <a style="color:#6d57e0" href="https://jamotion.ch/" target="_blank">
                Jamotion GmbH here...</a>
        </div>
        <div class="oe_span12 oe_centered oe_muted">
            This module is an extension of procurement_cancel. Thanks go to
            <a href="https://www.vauxoo.com/" target="_blank">
                Vauxoo SA</a>
        </div>
    </div>
</section>